{% extends 'index.html' %}

{% block content %}
<main id="main">

	<!-- ======= Portfolio Section ======= -->
	<div id="portfolio" class="paddsection">

		<div class="container">
		<div class="section-title text-center">
			<h2>Data Insights</h2>
		</div>
		</div>

		<div class="container">

		<div class="row">
			<div class="col-lg-12 d-flex justify-content-center">
			<ul id="portfolio-flters">
				<li data-filter="*" class="filter-active">All</li>
<!-- 				<li data-filter=".filter-app">App</li>
				<li data-filter=".filter-card">Card</li>
				<li data-filter=".filter-web">Web</li> -->
			</ul>
			</div>
		</div>

		<div class="row portfolio-container">

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			<img src="/static/assets/img/portfolio/insight-1.png" class="img-fluid" alt="">
			<div class="portfolio-info">
				<h4>Price Distribution</h4>
				<p>What's the price distribution of Singaporean Airbnb?</p>
				<a href="/static/assets/img/portfolio/insight-1.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
				<a href="{{url_for('portfolio_details', page=1)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-web">
			<img src="/static/assets/img/portfolio/insight-2.png" class="img-fluid" alt="">
			<div class="portfolio-info">
				<h4>Listing Location</h4>
				<p>Where's Singapore's Airbnb listing most located?</p>
				<a href="/static/assets/img/portfolio/insight-2.png" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
				<a href="{{url_for('portfolio_details', page=2)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			<img src="/static/assets/img/portfolio/insight-3.png" class="img-fluid" alt="">
			<div class="portfolio-info">
				<h4>Listing Count in Each Neighbourhood</h4>
				<p>Which neighbourhood has most listings?</p>
				<a href="/static/assets/img/portfolio/insight-3.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
				<a href="{{url_for('portfolio_details', page=3)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-card">
			<img src="/static/assets/img/portfolio/insight-4.png" class="img-fluid" alt="">
			<div class="portfolio-info">
				<h4>Listing's Price and Location</h4>
				<p>Which location has the higher price of listing?</p>
				<a href="/static/assets/img/portfolio/insight-4.png" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
				<a href="{{url_for('portfolio_details', page=4)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-web">
			<img src="/static/assets/img/portfolio/insight-5.png" class="img-fluid" alt="">
			<div class="portfolio-info">
				<h4>Listing's Price in Each Neighbourhood Group</h4>
				<p>How is the price distribution in each neighbourhood group?</p>
				<a href="/static/assets/img/portfolio/insight-5.png" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
				<a href="{{url_for('portfolio_details', page=5)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			<img src="/static/assets/img/portfolio/insight-6.png" class="img-fluid" alt="">
			<div class="portfolio-info">
				<h4>Listing's Price in Each Neighbourhood Group</h4>
				<p>How is the price distribution in each neighbourhood group?</p>
				<a href="/static/assets/img/portfolio/insight-6.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
				<a href="{{url_for('portfolio_details', page=6)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			</div>
			</div>

		</div>

		</div>

	</div>
	<!-- End Portfolio Section -->

</main>
<!-- End #main -->	

{% endblock content %}