{% extends 'index.html' %}

{% block content %}
	<!-- ======= Hero Section ======= -->
	<div id="hero" class="home">

	<div class="container">
		<div class="hero-content">
		<h1>Singapore's Airbnb <br> Price Predictor <br> <span class="typed"></span></h1>
		<p class="typed-items" data-typed-person="">Solving Problem, Accurate*, Easy, Reliable</p>

		<ul class="list-unstyled list-social">
			<li><a href="https://www.linkedin.com/in/yosiadityan/"  target="_blank"><i class="ion-social-linkedin"></i></a></li>
	         <li><a href="https://github.com/yosiadityan" target="_blank"><i class="ion-social-github"></i></a></li>
	         <li><a href="https://www.instagram.com/yosiaditya/" target="_blank"><i class="ion-social-instagram"></i></a></li>
			<!-- <li><a href="#"><i class="ion-social-facebook"></i></a></li>
			<li><a href="#"><i class="ion-social-twitter"></i></a></li>
			<li><a href="#"><i class="ion-social-instagram"></i></a></li>
			<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
			<li><a href="#"><i class="ion-social-tumblr"></i></a></li>
			<li><a href="#"><i class="ion-social-dribbble"></i></a></li> -->
		</ul>
		</div>
	</div>
	</div><!-- End Hero -->

{% endblock content %}