{% extends 'portfolio-details.html' %}

{% block content %}

	<div class="owl-carousel">
              <center>
                <img src="/static/assets/img/portfolio/insight-details-{{page}}.jpg" class="img-fluid" alt="">
              </center>
          </div>

          <div style="width: 35%;" class="portfolio-info">
            <h3>Trivial Information</h3>
            <p>{{trivia.replace("'''", '') | safe}}</p>
            <!-- <ul>
              <li><strong>Graph Type</strong>: Geographical Map</li>
              <li><strong>Packages</strong>: Folium, Branca</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul> -->
          </div>

        </div>

        <div class="portfolio-description">
          <h2>{{title}}</h2>

          <a href="{{image[1]}}"><img class="img-fluid" src="{{image[0]}}"></a>

          <!-- Chart / Plot -->
          {% for idx, plot in list_plot %}
          <div class="chart" id="plot{{idx}}">
              <script>
                  var graphs = {{plot | safe}};
                  Plotly.plot('plot{{idx}}', graphs, {});
              </script>
          </div>
          {% endfor %}

          <p>{{explanation | safe}}</p>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->


{% endblock content %}