{% extends 'index.html' %}

{% block content %}
<main id="main">

	<!-- ======= About Section ======= -->
	<div id="about" class="paddsection">
		<div class="container">
		<div class="row justify-content-between">

			<div class="col-lg-4 ">
			<div class="div-img-bg">
				<div class="about-img">
				<img src="/static/assets/img/me-airbnb.jpg" class="img-responsive" alt="me">
				</div>
			</div>
			</div>

			<div class="col-lg-7">
			<div class="about-descr">

				<p class="p-heading">COVID-19 Pandemic</p>
				<p class="separator">One year has passed since COVID-19 pandemic spread throughout the world, slowing down the economic growth in all parts of the world. Many countries applied lockdown as their measures to contain the spread of the virus, resulting in slump demand for tourism all over the world. But, recently some countries has lift the lockdown measures as their effort to suppressed the COVID-19 cases. Resulting in thriving economic post-pandemic and increasing demand for tourism.</p>

			</div>

			</div>
		</div>
		</div>

		<div class="container">
			<br><br><br><br><br>
		</div>

		<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7">
			<div class="about-descr">

				<p class="p-heading-right">Why Singapore?</p>
				<p class="separator-right">Singapore is one of those successful countries to fight against pandemic. They start to open their border for travellers and hopefully can revive its tourism industry as soon as possible. Singapore’s tourism industry itself is vital for Singapore as it makes 4.1% of their national GDP (2017).</p>	

				<p class="separator-right">As the tourism industry started to grow, one of the important thing the traveler will need is accommodation as a place to spend the night</p>

			</div>
			</div>

			<div class="col-lg-4 ">
			<div class="div-img-bg">
				<div class="about-img">
				<img src="/static/assets/img/me4-airbnb.jpg" class="img-responsive" alt="me">
				</div>
			</div>
			</div>

		</div>
		</div>

		<div class="container">
			<br><br><br><br><br>
		</div>

		<div class="container">
		<div class="row justify-content-between">

			<div class="col-lg-4 ">
			<div class="div-img-bg">
				<div class="about-img">
				<img src="/static/assets/img/me3-airbnb.jpg" class="img-responsive" alt="me">
				</div>
			</div>
			</div>

			<div class="col-lg-7">
			<div class="about-descr">

				<p class="p-heading">About Airbnb</p>
				<p class="separator">Aside from hotel, Airbnb is another choice for traveller to look for accomodation in their travel destination. Airbnb is an American vacation rental online marketplace company. Through the service, users can arrange lodging, primarily homestays, and tourism experiences or list their properties for rental. Airbnb does not own any of the listed properties; instead, it profits by receiving commission from each booking.</p>

			</div>

			</div>
		</div>
		</div>

		<div class="container">
			<br><br><br><br><br>
		</div>

		<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7">
			<div class="about-descr">

				<p class="p-heading-right">Machine Learning As Solution</p>
				<p class="separator-right">As the lockdown measure has been lifted and tourism demand increases, Singapore resident can rent their properties in Airbnb to gain extra income sources and help to boost the economic growth in their countries. But, choosing the right competitive price is difficult since there are so many factors to be considered and calculated.</p>	

				<p class="separator-right">Machine learning can help to do those calculations and predict the correct listing price for new host as accurate as possible. This model can also be helpful for former host to revalue their listing into new competitive price and also for traveller to plan their budget for accommodations suiting their needs.</p>

			</div>
			</div>

			<div class="col-lg-4 ">
			<div class="div-img-bg">
				<div class="about-img">
				<img src="/static/assets/img/me2-airbnb.jpg" class="img-responsive" alt="me">
				</div>
			</div>
			</div>

		</div>
		</div>

	</div>
	<!-- End About Section -->

	<!-- ======= Services Section ======= -->
	<!-- <div id="services">
		<div class="container">

		<div class="services-carousel owl-theme">

			<div class="services-block">

			<i class="ion-ios-browsers-outline"></i>
			<span>UI/UX DESIGN</span>
			<p class="separator">To an English person, it will seem like simplified English,told me what </p>

			</div>

			<div class="services-block">

			<i class="ion-ios-lightbulb-outline"></i>
			<span>BRAND IDENTITY</span>
			<p class="separator">To an English person, it will seem like simplified English,told me what </p>

			</div>

			<div class="services-block">

			<i class="ion-ios-color-wand-outline"></i>
			<span>WEB DESIGN</span>
			<p class="separator">To an English person, it will seem like simplified English,told me what </p>

			</div>

			<div class="services-block">

			<i class="ion-social-android-outline"></i>
			<span>MOBILE APPS</span>
			<p class="separator">To an English person, it will seem like simplified English,told me what </p>

			</div>

			<div class="services-block">

			<i class="ion-ios-analytics-outline"></i>
			<span>Analytics</span>
			<p class="separator">To an English person, it will seem like simplified English,told me what </p>

			</div>

			<div class="services-block">

			<i class="ion-ios-camera-outline"></i>
			<span>PHOTOGRAPHY</span>
			<p class="separator">To an English person, it will seem like simplified English,told me what </p>

			</div>

		</div>

		</div>

	</div> -->
	<!-- End Services Section -->

</main>
<!-- End #main -->	

{% endblock content %}